services:
    # Event subscribers and listeners
    mu_blogging_module.entity_lifecycle_listener:
        class: MU\BloggingModule\Listener\EntityLifecycleListener
        arguments:
            - "@service_container"
        tags:
            - { name: doctrine.event_subscriber }
    
    mu_blogging_module.kernel_listener:
        class: MU\BloggingModule\Listener\KernelListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.installer_listener:
        class: MU\BloggingModule\Listener\InstallerListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.moduledispatch_listener:
        class: MU\BloggingModule\Listener\ModuleDispatchListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.mailer_listener:
        class: MU\BloggingModule\Listener\MailerListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.theme_listener:
        class: MU\BloggingModule\Listener\ThemeListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.userlogin_listener:
        class: MU\BloggingModule\Listener\UserLoginListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.userlogout_listener:
        class: MU\BloggingModule\Listener\UserLogoutListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.user_listener:
        class: MU\BloggingModule\Listener\UserListener
        arguments:
            - "@translator.default"
            - "@mu_blogging_module.entity_factory"
            - "@zikula_users_module.current_user"
            - "@logger"
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.userregistration_listener:
        class: MU\BloggingModule\Listener\UserRegistrationListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.users_listener:
        class: MU\BloggingModule\Listener\UsersListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.group_listener:
        class: MU\BloggingModule\Listener\GroupListener
        tags:
            - { name: kernel.event_subscriber }
    
    mu_blogging_module.thirdparty_listener:
        class: MU\BloggingModule\Listener\ThirdPartyListener
        arguments:
            - "@mu_blogging_module.workflow_helper"
        tags:
            - { name: kernel.event_subscriber }
    
